{% set title = "About us" %}

{% extends "./_include/_master.html" %}

{% block main %}
<div class="site-aboutus site-categories">
	<div class="container-fluid">
		<div class="site-categories__banner" style="background-image: url('../assets/images/about-us-banner.png')"></div>
		<div class="site-aboutus__body site-categories__body">
			<div class="site-breadcrumb">
				<ul class="list-wrapper d-flex">
					<li class="list-item">
						<a href="#" class="fz-20 fw-bold">Trang chủ</a>
					</li>
					<li class="list-item">
						<a href="#" class="fz-20 fw-bold product-detail">Về chúng tôi</a>
					</li>
				</ul>
			</div>
			<div class="site-aboutus__inner">
				<ul class="site-left list-wrapper" role="tablist">
					<li role="presentation" class="list-item active">
						<a href="#about" class="fz-20 list-link list-title" role="tab" data-toggle="tab" aria-controls="about" aria-expanded="false">Về chúng tôi</a>
					</li>
					<li role="presentation" class="list-item">
						<div class="fz-20 list-title">Dịch vụ</div>
					</li>
					<li role="presentation" class="list-item">
						<a href="#support" class="list-link" role="tab" data-toggle="tab" aria-controls="support" aria-expanded="false">Hỗ trợ</a>
					</li>
					<li role="presentation" class="list-item">
						<a href="#sale" class="list-link" role="tab" data-toggle="tab" aria-controls="sale" aria-expanded="false">Chính sách bán hàng</a>
					</li>
					<li role="presentation" class="list-item">
						<a href="#security" class="list-link" role="tab" data-toggle="tab" aria-controls="security" aria-expanded="false">Chính sách bảo mật</a>
					</li>
					<li role="presentation" class="list-item">
						<div class="fz-20 list-title">Tin tức</div>
					</li>
					<li role="presentation" class="list-item">
						<a href="#buy" class="list-link" role="tab" data-toggle="tab" aria-controls="buy" aria-expanded="false">Chính sách mua bán</a>
					</li>
					<li role="presentation" class="list-item">
						<a href="#contact" class="list-link" role="tab" data-toggle="tab" aria-controls="contact" aria-expanded="false">Liên hệ chúng tôi</a>
					</li>
				</ul>
				<div class="site-right tab-content">
					<div class="tab-pane active" role="tabpanel" id="about" aria-labelledby="about-tab">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum fugit iusto maxime quam. Commodi earum error esse odit totam? Aliquid blanditiis cum expedita in libero
						magnam maxime omnis rem!
					</div>
					<div class="tab-pane" role="tabpanel" id="support" aria-labelledby="support-tab">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum fugit iusto maxime quam. Commodi earum error esse odit totam? Aliquid blanditiis cum expedita in libero
						magnam maxime omnis rem!
					</div>
					<div class="tab-pane" role="tabpanel" id="sale" aria-labelledby="sale-tab">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum fugit iusto maxime quam. Commodi earum error esse odit totam? Aliquid blanditiis cum expedita in libero
						magnam maxime omnis rem!
					</div>
					<div class="tab-pane" role="tabpanel" id="security" aria-labelledby="security-tab">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum fugit iusto maxime quam. Commodi earum error esse odit totam? Aliquid blanditiis cum expedita in libero
						magnam maxime omnis rem!
					</div>
					<div class="tab-pane" role="tabpanel" id="buy" aria-labelledby="buy-tab">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum fugit iusto maxime quam. Commodi earum error esse odit totam? Aliquid blanditiis cum expedita in libero
						magnam maxime omnis rem!
					</div>
					<div class="tab-pane" role="tabpanel" id="contact" aria-labelledby="contact-tab">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error eum fugit iusto maxime quam. Commodi earum error esse odit totam? Aliquid blanditiis cum expedita in libero
						magnam maxime omnis rem!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}