{% set title = "Chi tiết tin tức" %}

{% extends "./_include/_master.html" %}

{% block main %}
<div class="site-news-detail site-categories">
	<div class="container-fluid">
		<div class="site-news-detail__body">
			<div class="site-breadcrumb">
				<ul class="list-wrapper d-flex">
					<li class="list-item">
						<a href="#" class="fz-20 fw-bold">Trang chủ</a>
					</li>
					<li class="list-item">
						<a href="#" class="fz-20 fw-bold">Tin tức</a>
					</li>
					<li class="list-item">
						<a href="#" class="fz-20 fw-bold product-detail">Chi tiết tin tức</a>
					</li>
				</ul>
			</div>
			<div class="site-news-detail__inner">
				<h2 class="text-black fz-24">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, ex omnis. Aut autem consequatur corporis earum, eius, labore laboriosam maiores natus nemo praesentium quae quam, quo recusandae repellendus unde voluptatibus!</h2>
				<time class="d-block">12/12/2019</time>
				<div class="content fz-15 text-black mt-1">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium aliquam amet dolor doloremque eius eligendi est expedita incidunt, itaque maiores nemo nesciunt nisi quaerat ratione sapiente sed totam, vitae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dicta doloremque esse fugiat in libero maiores modi nisi pariatur possimus, quibusdam quisquam recusandae repellendus sequi similique sunt tempora tenetur, voluptas.
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}